<?php if (Mage::helper('fx_checkout')->isCheckCartHospitalEnabled()): ?>
    <?php
    $session = Mage::getSingleton('checkout/session');
    $workLocation = $session->getWorkLocation();
    ?>
    <div class="hospital-form">
        <form id="hospital-coupon-form" action="<?php echo $this->getUrl('fxcheckout/cart/hospitalPost') ?>" method="post">
            <div class="form-group hospital-formgroup">
                <label for="hospital_clinic_work_location" class="hospital-label">
                    <?php echo $this->__('Hospital/Clinic :'); ?>
                </label>
                <div class="input-group">
                    <input class="form-control input-text validate-alphanum-with-spaces" id="hospital_clinic_work_location" name="hospital_clinic_work_location" placeholder="<?php echo $this->__('Enter your hospital/clinic'); ?>" value="<?php echo $workLocation ?: ""; ?>" />
                    <span class="input-group-btn text-lowercase">
                    <button type="button" title="<?php echo $this->__('submit') ?>" class="btn btn-default button" onclick="hospitalForm.submit()" value="<?php echo $this->__('submit') ?>"><span><span><?php echo $this->__('submit') ?></span></span></button>
                </span>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var hospitalForm = new VarienForm('hospital-coupon-form');
        //]]>
    </script>
<?php endif; ?>